*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F2F2F2;
    font-family: "Space Mono", monospace;
}
header {
    display: flex;
    justify-content: center;
}
#app-name {
 color: #3D6666;
 -webkit-text-stroke-width: 1.4px;
 -webkit-text-stroke-color: black;
 letter-spacing: 13px;
 font-size:40px;
 padding-top: 60px;

}

.main-box {
    margin-top: 1.5em;
    width: 100%;
    height: 49.3em;
    background-color: #FFFFFF;
}

.bill-price {
    padding: 15px ;
    margin-bottom: 20px;
}
.bill-price #bill-label {
    color: #5E7A7D;
    font-weight: 800;
    
}
.bill-price .bill-input {
    width:22.4em;
    height: 3.5em;
    background-color: #F3F9FA;
    border-color: transparent;
    border-radius: 6px;
    margin-top:10px;
}
.bill-input::placeholder {
    color:#9EBBBD;
    font-family: "Space Mono", monospace;
    font-size: 27px;
}

.tip-selection {
display: flex;
padding: 10px;
gap: 10px;
justify-content: space-around;
flex-wrap: wrap;
}

#tip-selection-label {
    color: #5E7A7D;
    font-weight: 800;
    padding-left:14px ;
}

.tip-selection  .tip-predefined-ones, .tip-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146.63px;
    height: 48px;
    background-color: #00474B;
    border-radius: 7px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;

}

.tip-custom {
    background-color: #F3F9FA;
    color: #547878;
}

.people-amount #number-label {
    color: #5E7A7D;
    padding-left: 10px;
    font-weight: 800;
    
}

.amount-people-input {
    width:22.4em;
    height: 3.5em;
    background-color: #F3F9FA;
    border-color: transparent;
    border-radius: 6px;
    margin: 10px 0 30px 0;
    margin-left: 10px;
}

.tip-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 327px;
    height: 300px;
    background-color: #00474B;
    border-radius: 15px;
    margin-left: 12px;

}

.tip-result .tip-per-person, .total-amount {
padding: 20px 0 0 20px;
}

.tip-result #tip-person-label, #total-people-label {
    color: #FFFFFF;
}



.tip-result .tip-person-input, .total-amount-input {
    width: 120px;
    height: 47px;
    margin-left: 160px ;
    background-color: white;
    color: #26C2AE;
    background-color:  #00474B;
    border: none;
}
.tip-result .tip-person-input, .total-amount-input::placeholder{
    font-family: "Space Mono", monospace;
    font-size: 35px;
}

.tip-result .reset-button {
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-weight: 800;
    width: 281px;
    height: 46.78px;
    background-color: #26C2AE;
    color: #00474B;
    border-radius: 6px;
    margin: 10px 0 10px 25px;
}


@media  (min-width:928px) {
   
    h1{
        margin-bottom: 510px;
        margin-right: -910px;
    }
    .main-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-box {
     display: flex;
     justify-content: space-between;
    }

    .tip-selection {
        display: flex;
        justify-content: space-around;
        width: 600px;
    }

    .people-amount .amount-people-input {
        display: block;
    }

    .tip-result {
        width: 413px;
        height: 417px;

    }
    .left-column {
        flex-grow: 1;
        padding: 25px;
    }



}